<div style="text-align: center;">
  <span class="bello" style="font-size: 1.1rem; font-family: 'Bello'; line-height: 1.7;">
    for Jellow
  </span>
  <br>
  <span>
    Powered by
    <a target="_blank" href="https://github.com/somelou">
      <u>Ⓙ大学杨超越</u>
    </a>
  </span>
  <br>
  <span>
    You can see
    <a target="_blank" href="https://github.com/somelou">
      <u>@somelou</u>
    </a>
    in Github
  </span>
  <br>
  <span>Font made from
    <a target="_blank" href="http://www.onlinewebfonts.com">
      <u>oNline Web Fonts</u>
    </a>
    (CC BY 3.0)
  </span>
  <br>
  <span>浙ICP备
    <a target="_blank" href="http://www.beian.miit.gov.cn/">
      <u>17029179</u>
    </a>
    号
  </span>
</div>
